*{
    font-family: 'Inter';
}

body {
    background-color: #f3f5fc;
    display: flex;
    margin: 20px;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    display: grid;
    padding: 25px;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
}

main section {
    padding: 20px;
}

.texto-1{
    display: grid;
    grid-template-rows: auto 1fr;
    min-block-size: 320px;
    padding-bottom: 0;
}

.word-encript{
    background: #f3f5fc;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    font-size: 25px;
}

.word-encript:focus{
    outline: none;
}

.texto-1 .informacion{
    font-size: 17px;
    margin-bottom: 10px;
}

.texto-2{
    display: flex;
    border-radius: 20px;
    border-color: #f3f5fc;
    box-shadow:  2px 1px 1px 1px rgba(32,32,32,0.3);
    background: white;
}

/* Añadido un media query para ajustar el diseño en dispositivos de pantalla pequeña */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 4fr 1fr; /* Restaurado el diseño de dos columnas en dispositivos medianos y grandes */
    }

    .sin_resultado_ntf .word-encript {
        flex: 80%;
    }
}

.mensaje_resultado{
    flex: 80%;
}

.botones button{
    border-radius: 30px;
    cursor: pointer;
    height: 67px;
    width: 160px;
    font-size: 20px;
    margin: 10px;
    border: 1px solid #0a3871;
}

.boton-encript{
    background-color: #0a3871;
    color: white;
}

.boton-desencript{
    background-color: #f3f5fc;
    color: #0a3871;
}

/*
.boton-copiar{
    border: 1px solid #0a3871;
    color: #0a3871;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    height: 67px;
    width: 160px;

}
*/
/* Prueba de estilos*/

/*
*{
    background-color: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

header{
    margin-top: 10px;
    padding: 0px;
}

main{
    display: flex;
    margin-left: 80px;
}

.texto-1{
    flex: 1;
}

.texto-2{
    flex: 2;
    background: white;
    margin-right: 400px;
    margin-left: 200px;
    padding-right: 40px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    min-width: 320px;
}

.word-encript{
    border: none;
    color: #0a3871;
    text-transform: lowercase;
    margin-bottom: 0;
}

.word-encript:focus{
    outline: none;
}

.mensaje{
    color: #0a3871;
    background-color: #ffffff;
}

.mensaje:focus{
    outline: none;
}

.imgMuñeco{
    margin-top: 20px;
    background-color: #ffffff;
}

h6{
    font-size: 17px;
    margin-bottom: 15px;
}

.botones{
    display: flex;
}

.boton-encript{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 67px;
    width: 328px;
    font-size: 20px;
}

.boton-encript:hover{
    background-color: #052051;
}

.boton-desencript{
    background-color: #ffffff;
    border: 1px solid #0a3871;
    color: #0a3871;
    border-radius: 30px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 30px;
    font-size: 20px;
}

.boton-desencript:hover{
    background-color: #E9ECF8;
}

.boton-copiar{
    border: 1px solid #0a3871;
    color: #0a3871;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    height: 67px;
    width: 320px;
    margin-left: 10px;
    margin-bottom: 45px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}

.boton-copiar:hover{
    background-color: #E9ECF8;
}*/